.super-mario {
    width: 200px;
    position: absolute;
    top: 200px;
    z-index: 1;
    margin-left: 27px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 500px;
    margin-left: 80px;
    z-index: 2;
  }
  
  .baloon {
  width: 150px;
  position: absolute;
  z-index: 3; 
  top: 250px;
  margin-left: 450px;
  }
  
  .speach {
    font-size: 20px;
    position: absolute;
    z-index: 4;
    top: 247px;
    margin-left: 467px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 300px;
    margin-left: 600px;
  }